.main {
  padding: 15px;
  input {
    color: inherit;
    font-weight: 700;
    width: 80%;
    padding: 8px 6px;
    background: transparent;
    border-bottom: 1px solid rgb(53, 53, 53);
  }
}
